.DocumentEditor {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  // user-select: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 72px;
  margin-bottom: 24px;
  text-size-adjust: none;
  border-radius: 6px;
}

.DocumentEditor input {
  padding: 0;
  border: 0;
  display: flex;
  outline: none;
  font-size: 16px;
}

.doc__title {
  font-size: 26px;
  margin-bottom: 10px;
}
.doc__notes {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 4px;
}
