.expression-tab {
  width: 130px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 5px;
  padding: 3px;
  transform: translateX(-50%);
}
.expression-tab-tab {
  background-color: lightgrey;
  border-radius: 7px;
  display: inline-block;
  padding: 0 2px;
}
