.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: row;

  padding-left: 16px;
  height: 48px;
  align-items: center;

  .Breadcrumbs {
    display: flex;
    align-items: center;
  }

  a {
    background-clip: text;
    background-image: linear-gradient(to left, transparent 6px, rgb(134, 140, 144) 12px);
    color: transparent !important;
    font-size: 13px;
    padding: 0 12px;

    &:last-child {
      background-image: linear-gradient(to left, transparent 6px, rgb(75, 81, 85) 12px);
    }
  }
  svg {
    color: rgb(183, 188, 191);
  }
}
