@import './lib/common.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  &.grabbing {
    cursor: grab;
  }
  &.darkmode {
    background-color: #18191b;
    color: white;
  }
}

.showCompleted {
  margin-left: auto;
}

.addChildBtn {
  margin-left: 0px;
  margin-top: 6.5px;
  width: $bullet-width;
  height: 20px;
  opacity: 0.5;
  circle {
    opacity: 0;
  }
  &:hover circle {
    opacity: 1;
  }
}
